In [1]:
import datetime as dt
from pathlib import Path
import os

import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
data_path = Path(os.getenv('HOME')+'/aiffel/yoochoose/data/') 
train_path = data_path / 'ratings.dat'

def load_data(data_path: Path, nrows=None):
    data = pd.read_csv(data_path, sep='::', header=None, usecols=[0, 1, 2, 3], dtype={0: np.int32, 1: np.int32, 2: np.int32}, nrows=nrows)
    data.columns = ['UserId', 'ItemId', 'Rating', 'Time']
    return data

data = load_data(train_path, None)
data.sort_values(['UserId', 'Time'], inplace=True)  # data를 id와 시간 순서로 정렬해줍니다.
data

         UserId  ItemId  Rating       Time
31            1    3186       4  978300019
22            1    1270       5  978300055
27            1    1721       4  978300055
37            1    1022       5  978300055
24            1    2340       3  978300103
...         ...     ...     ...        ...
1000019    6040    2917       4  997454429
999988     6040    1921       4  997454464
1000172    6040    1784       3  997454464
1000167    6040     161       3  997454486
1000042    6040    1221       4  998315055

[1000209 rows x 4 columns]

In [3]:
data['UserId'].nunique(), data['ItemId'].nunique()

(6040, 3706)

In [4]:
session_length = data.groupby('UserId').size()
session_length

UserId
1        53
2       129
3        51
4        21
5       198
       ...
6036    888
6037    202
6038     20
6039    123
6040    341
Length: 6040, dtype: int64

In [5]:
session_length.median(), session_length.mean()

(96.0, 165.5975165562914)

In [6]:
session_length.min(), session_length.max()

(20, 2314)

In [7]:
#99.9%데이터의 유저세션길이가 1343
session_length.quantile(0.999)

1343.181000000005

In [8]:
#세션 길이가 2314(max)인 데이터 확인
long_session = session_length[session_length==2314].index[0]
data[data['UserId']==long_session]

        UserId  ItemId  Rating        Time
696969    4169    1268       5   965333392
697168    4169    2617       4   965333392
697185    4169    2628       4   965333392
697219    4169    2653       4   965333392
697275    4169     423       3   965333392
...        ...     ...     ...         ...
697882    4169    3754       2  1024174347
695702    4169    1413       3  1024175031
697358    4169     494       4  1024175760
695945    4169    1804       2  1024175783
696446    4169    1548       3  1024176337

[2314 rows x 4 columns]

In [9]:
# short_session을 제거한 다음 unpopular item을 제거하면 다시 길이가 1인 session이 생길 수 있습니다.
# 이를 위해 반복문을 통해 지속적으로 제거 합니다.
def cleanse_recursive(data: pd.DataFrame, shortest, least_click) -> pd.DataFrame:
    while True:
        before_len = len(data)
        data = cleanse_short_session(data, shortest)
        data = cleanse_unpopular_item(data, least_click)
        after_len = len(data)
        if before_len == after_len:
            break
    return data


def cleanse_short_session(data: pd.DataFrame, shortest):
    session_len = data.groupby('UserId').size()
    session_use = session_len[session_len >= shortest].index
    data = data[data['UserId'].isin(session_use)]
    return data


def cleanse_unpopular_item(data: pd.DataFrame, least_click):
    item_popular = data.groupby('ItemId').size()
    item_use = item_popular[item_popular >= least_click].index
    data = data[data['ItemId'].isin(item_use)]
    return data

In [10]:
data = cleanse_recursive(data, shortest=2, least_click=5)
data

         UserId  ItemId  Rating       Time
31            1    3186       4  978300019
22            1    1270       5  978300055
27            1    1721       4  978300055
37            1    1022       5  978300055
24            1    2340       3  978300103
...         ...     ...     ...        ...
1000019    6040    2917       4  997454429
999988     6040    1921       4  997454464
1000172    6040    1784       3  997454464
1000167    6040     161       3  997454486
1000042    6040    1221       4  998315055

[999611 rows x 4 columns]

In [12]:
def split_by_date(data: pd.DataFrame, n_days: int):
    final_time = data['Time'].max()
    user_last_time = data.groupby('UserId')['Time'].max().sort_values()
    user_in_train = data[data['Time'] < final_time - dt.timedelta(n_days)]
    user_in_test = data[data['Time'] >= final_time - dt.timedelta(n_days)]
    
    before_date = user_in_train
    after_date = user_in_test
    return before_date, after_date

In [13]:
tr, test = split_by_date(data, n_days=180)
tr, val = split_by_date(tr, n_days=180)

TypeError: unsupported operand type(s) for -: 'int' and 'datetime.timedelta'

- 노드에서 진행했던대로 int - dt.timedelta()가 수행되지 않음
- 따라서 기존에 존재하는 int형 데이터를 1970-01-01기준으로 몇초가 흘렀는지 계산한 후에 시간에 대해서 +- 연산을 수행하기로 함
- 아래가 그 코드

In [16]:
data['Datetime'] = '1970-01-01 00:00:00'
data['Datetime'] = pd.to_datetime(data['Datetime'], format="%Y-%m-%d %H:%M:%S")
data.Datetime = data.Datetime + data.Time.map(lambda x : dt.timedelta(seconds=x))
data = data.drop(['Time','Rating'], axis=1)

In [17]:
data

         UserId  ItemId            Datetime
1000138    6040     858 2000-04-25 23:05:32
999873     6040     593 2000-04-25 23:05:54
1000153    6040    2384 2000-04-25 23:05:54
1000007    6040    1961 2000-04-25 23:06:17
1000192    6040    2019 2000-04-25 23:06:17
...         ...     ...                 ...
825793     4958    2399 2003-02-28 17:45:38
825438     4958    1407 2003-02-28 17:47:23
825724     4958    3264 2003-02-28 17:49:08
825731     4958    2634 2003-02-28 17:49:08
825603     4958    1924 2003-02-28 17:49:50

[999611 rows x 3 columns]

In [18]:
def split_by_date(data: pd.DataFrame, n_days: int):
    final_time = data['Datetime'].max()
    user_last_time = data.groupby('UserId')['Datetime'].max().sort_values()
    user_in_train = data[data['Datetime'] < final_time - dt.timedelta(n_days)]
    user_in_test = data[data['Datetime'] >= final_time - dt.timedelta(n_days)]
    
    before_date = user_in_train
    after_date = user_in_test
    return before_date, after_date

In [19]:
tr, test = split_by_date(data, n_days=180)
tr, val = split_by_date(tr, n_days=180)

In [20]:
# data에 대한 정보를 살펴봅니다.
def stats_info(data: pd.DataFrame, status: str):
    print(f'* {status} Set Stats Info\n'
          f'\t Events: {len(data)}\n'
          f'\t Sessions: {data["UserId"].nunique()}\n'
          f'\t Items: {data["ItemId"].nunique()}\n'
          f'\t First Time : {data["Datetime"].min()}\n'
          f'\t Last Time : {data["Datetime"].max()}\n')

In [21]:
stats_info(tr, 'train')
stats_info(val, 'valid')
stats_info(test, 'test')

* train Set Stats Info
	 Events: 978534
	 Sessions: 6038
	 Items: 3416
	 First Time : 2000-04-25 23:05:32
	 Last Time : 2002-03-05 04:19:56

* valid Set Stats Info
	 Events: 12271
	 Sessions: 399
	 Items: 2606
	 First Time : 2002-03-05 04:21:07
	 Last Time : 2002-09-01 04:20:59

* test Set Stats Info
	 Events: 8806
	 Sessions: 339
	 Items: 2317
	 First Time : 2002-09-01 19:41:39
	 Last Time : 2003-02-28 17:49:50

In [22]:
# train set에 없는 아이템이 val, test기간에 생길 수 있으므로 train data를 기준으로 인덱싱합니다.
id2idx = {item_id : index for index, item_id in enumerate(tr['ItemId'].unique())}

def indexing(df, id2idx):
    df['item_idx'] = df['ItemId'].map(lambda x: id2idx.get(x, -1))  # id2idx에 없는 아이템은 모르는 값(-1) 처리 해줍니다.
    return df

tr = indexing(tr, id2idx)
val = indexing(val, id2idx)
test = indexing(test, id2idx)

In [23]:
save_path = data_path / 'processed'
save_path.mkdir(parents=True, exist_ok=True)

tr.to_pickle(save_path / 'train.pkl')
val.to_pickle(save_path / 'valid.pkl')
test.to_pickle(save_path / 'test.pkl')

## Dataset

In [50]:
class SessionDataset:
    """Credit to yhs-968/pyGRU4REC."""

    def __init__(self, data):
        self.df = data
        self.click_offsets = self.get_click_offsets()
        self.session_idx = np.arange(self.df['UserId'].nunique())  # indexing to SessionId

    def get_click_offsets(self):
        """
        Return the indexes of the first click of each session IDs,
        """
        offsets = np.zeros(self.df['UserId'].nunique() + 1, dtype=np.int32)
        offsets[1:] = self.df.groupby('UserId').size().cumsum()
        return offsets

In [46]:
tr_dataset = SessionDataset(tr)
vl_dataset = SessionDataset(val)
te_dataset = SessionDataset(test)
tr_dataset.df.head(10)

         UserId  ItemId            Datetime  item_idx
1000138    6040     858 2000-04-25 23:05:32         0
999873     6040     593 2000-04-25 23:05:54         1
1000153    6040    2384 2000-04-25 23:05:54         2
1000007    6040    1961 2000-04-25 23:06:17         3
1000192    6040    2019 2000-04-25 23:06:17         4
999868     6040     573 2000-04-25 23:07:36         5
999877     6040    1419 2000-04-25 23:07:36         6
999920     6040     213 2000-04-25 23:07:36         7
999967     6040    3111 2000-04-25 23:07:36         8
999980     6040    3505 2000-04-25 23:07:36         9

In [26]:
tr_dataset.click_offsets

array([     0,     53,    182, ..., 978070, 978193, 978534], dtype=int32)

In [27]:
tr_dataset.session_idx

array([   0,    1,    2, ..., 6035, 6036, 6037])

In [51]:
class SessionDataLoader:
    """Credit to yhs-968/pyGRU4REC."""

    def __init__(self, dataset: SessionDataset, batch_size=50):
        self.dataset = dataset
        self.batch_size = batch_size

    def __iter__(self):
        """ Returns the iterator for producing session-parallel training mini-batches.
        Yields:
            input (B,):  Item indices that will be encoded as one-hot vectors later.
            target (B,): a Variable that stores the target item indices
            masks: Numpy array indicating the positions of the sessions to be terminated
        """

        start, end, mask, last_session, finished = self.initialize()  # initialize 메소드에서 확인해주세요.
        """
        start : Index Where Session Start
        end : Index Where Session End
        mask : indicator for the sessions to be terminated
        """

        while not finished:
            min_len = (end - start).min() - 1  # Shortest Length Among Sessions
            for i in range(min_len):
                # Build inputs & targets
                inp = self.dataset.df['item_idx'].values[start + i]
                target = self.dataset.df['item_idx'].values[start + i + 1]
                yield inp, target, mask

            start, end, mask, last_session, finished = self.update_status(start, end, min_len, last_session, finished)

    def initialize(self):
        first_iters = np.arange(self.batch_size)    # 첫 배치에 사용할 세션 Index를 가져옵니다.
        last_session = self.batch_size - 1    # 마지막으로 다루고 있는 세션 Index를 저장해둡니다.
        start = self.dataset.click_offsets[self.dataset.session_idx[first_iters]]       # data 상에서 session이 시작된 위치를 가져옵니다.
        end = self.dataset.click_offsets[self.dataset.session_idx[first_iters] + 1]  # session이 끝난 위치 바로 다음 위치를 가져옵니다.
        mask = np.array([])   # session의 모든 아이템을 다 돌은 경우 mask에 추가해줄 것입니다.
        finished = False         # data를 전부 돌았는지 기록하기 위한 변수입니다.
        return start, end, mask, last_session, finished

    def update_status(self, start: np.ndarray, end: np.ndarray, min_len: int, last_session: int, finished: bool):  
        # 다음 배치 데이터를 생성하기 위해 상태를 update합니다.
        
        start += min_len   # __iter__에서 min_len 만큼 for문을 돌았으므로 start를 min_len 만큼 더해줍니다.
        mask = np.arange(self.batch_size)[(end - start) == 1]  
        # end는 다음 세션이 시작되는 위치인데 start와 한 칸 차이난다는 것은 session이 끝났다는 뜻입니다. mask에 기록해줍니다.

        for i, idx in enumerate(mask, start=1):  # mask에 추가된 세션 개수만큼 새로운 세션을 돌것입니다.
            new_session = last_session + i  
            if new_session > self.dataset.session_idx[-1]:  # 만약 새로운 세션이 마지막 세션 index보다 크다면 모든 학습데이터를 돈 것입니다.
                finished = True
                break
            # update the next starting/ending point
            start[idx] = self.dataset.click_offsets[self.dataset.session_idx[new_session]]     # 종료된 세션 대신 새로운 세션의 시작점을 기록합니다.
            end[idx] = self.dataset.click_offsets[self.dataset.session_idx[new_session] + 1]

        last_session += len(mask)  # 마지막 세션의 위치를 기록해둡니다.
        return start, end, mask, last_session, finished

In [52]:
tr_data_loader = SessionDataLoader(tr_dataset, batch_size=512)
tr_dataset.df.head(15)

         UserId  ItemId            Datetime  item_idx
1000138    6040     858 2000-04-25 23:05:32         0
999873     6040     593 2000-04-25 23:05:54         1
1000153    6040    2384 2000-04-25 23:05:54         2
1000007    6040    1961 2000-04-25 23:06:17         3
1000192    6040    2019 2000-04-25 23:06:17         4
999868     6040     573 2000-04-25 23:07:36         5
999877     6040    1419 2000-04-25 23:07:36         6
999920     6040     213 2000-04-25 23:07:36         7
999967     6040    3111 2000-04-25 23:07:36         8
999980     6040    3505 2000-04-25 23:07:36         9
1000155    6040    1734 2000-04-25 23:08:01        10
999971     6040    2503 2000-04-25 23:09:51        11
999888     6040     919 2000-04-25 23:09:51        12
999884     6040     912 2000-04-25 23:09:51        13
1000186    6040     527 2000-04-25 23:10:19        14

In [30]:
iter_ex = iter(tr_data_loader)

In [31]:
inputs, labels, mask =  next(iter_ex)
print(f'Model Input Item Idx are : {inputs}')
print(f'Label Item Idx are : {"":5} {labels}')
print(f'Previous Masked Input Idx are {mask}')

Model Input Item Idx are : [   0   53  177  210  228  392  439  464  561  105  881  957  876  477
 1006  655  405 1122 1051  768 1387 1400  611 1457 1511 1336 1571  428
  114  654  818  220   30  974 1341  953  233  467  118  667  479  768
  232   42 1509   16  223 1786  101  834 1925  194  115  174  878 1975
 1640  194  652 1517  818  392 2042  840 2052  179  367  168 1230   48
   26   66 1528  686  183  303  433   55  722  455  909  703 1487  670
  570  854 1984  373  859  221  497  354  123   97  921  374   79 1227
 1100  944  537    3  689 2204  654   21 1935  612   17 1026 1440  598
   79  192  211  494  520 1004  162 1246  205  202   28  302  647   87
  278  980 2281   68   74 2289   68  199 1055  813  430  820 1364  484
  194  573  162  191 1942   83  581 1694 1029  371  476  713  728 2209
 1039 1288 1220  313  827 1635 2412 1505  146 1017 1031 1285  808 1247
 2076 1167 1536  152 2046 2424   84  245   14  788 1091 1505 1054 1002
   78 1550  420  381  321  416  777  101 2015 1539  680  916  658 2523
  679   28 1483  423 1055 1533  179  371  122  285   49  690 2568 1215
   50 1684 1309 1486   16  123  638  641  484  435 1620  340  657  343
  102 2605  997  313   24  820 1026  796  974  476  787  831  101 1187
 1953  609  207 1427 1271 2371  806  428  444  387 1220  477  479  411
  559  542 1057 2248  413  562 1359 1448 1466 1480  101 1494    3  971
   55  363  709  788  312 1530 2143 1368 2247  565  801 1567  640 1847
  229  159 1536  843 1512  908  267 1481  577 1448 1734  405  202  329
  974  233  953 2238  867 2422  421  181  416  493 1039  747   66  652
   98 1684   75  477  611  347  519  590  123  428  430  537  457  940
  768  451   68  990  427 1061  593  785  416 2027  295 2183  123  666
   12  932  428 2744 1449  831  194  983 2436  150  785 1141  387  264
  258 1165 1156  937 2770  323 1473 2298  827   13  983  181 1554  782
 1775  861 1498  104 1640 1680 1854  353 1935 1539  405  670 1223  134
  619  578  944 1217  617 1843 1171 2091  713 1461  428 1219 1397  240
 1006   91 1151 1110 1618  656  136  915  519  871 1134   75   66 2480
  505  927 2701  101  813 1600  608  844   96  291 2779  141  115  270
 1272 2778 1394 1352 1646  307  426  811  590 1220  410  246  556   26
 1517  455  675 1729  521    0  521  944 1424  328 1115 1907   56 2700
  781  121   98  840  183 2353  438  688  545 1945  187 2175  291 1174
 2739 2043 1062 1931  371  442  461 2773  677  363  487  787   16 2208
  394  202  658  664  569   44 1640  898 1008 1225 1695  643  549  410
  334 1397  738  830  639 1735 1060  405  195  522 1390 1336  426 1025
 1335 1336  583 1339 1311 1535 2327 1831]
Label Item Idx are :       [   1   54  106  211  229  393  440  465  562  133  882   63  966  125
  815  529  360 1123 1219  788 1388  693  444  470  778 1001  145  410
  936  101 1632  221  455  964  558 1321  241  302 1396   98  781 1335
 1258  161  128   50  827  208  417 1009  160  237  445   21  537  565
 1985 1188  993 1729  527  124  654 1602 1414  813  313 2069  423 1215
  940 1157 1204  346  286  966 1225  770  413  477 1051 1741  719  143
 1161 1172 1168  455  479 1093  416 1507  674 1175  688  903   61  448
 1022 1021  132  192 1170 1304  261  232  413   92    1 1660 1900  512
 1175  367  572  521  412  194  613 1091  722  991  404  939   42   27
  676  979 1715  787  509  125   99  660  559 2100  414 2343 1349  125
 1288 1761   12  408    3  128 1547 1104 1046  839  572 1424  569 1803
  785 1029  519 2193  416 2174  385 2240  894  427  486  460 1700  867
 1514   21  574  604  114 1526  911  312 1520  929 1505  599 1386  909
  486  406    3  132  331  180  168  291 1263 2463  940 1101  520  483
  825 1786   46  230 1704  935  260   20  802  666 1160 2087 1171  493
  539 1220  252 1258   31  475   20  956  801 1012 1022  255  410 1106
  960 1147  125    1  543  106   55  123 2050  661 1223  671  412 1462
  609  521 1241 2126  756 1536   75  790  491  893  421  126  983  253
   60  358  822 1263 2661   12  834  273  280 1764   55 1835  124   37
   98 1551  276  421  418 1480 1628 1862 2207  875  278  580  192  333
  232  998 2695 1945 1063  793 1472  202 1354  101 1616  672  653  451
 1093 1430  485 1239  716  183  790  119  180  484 1036  827  537 2068
   84 1230  103  416  608  354  774  382  122  780  934   63  125  427
  434 1096  581   28   24  537  388 1173  455  298 2394 2190  180  539
   87 1009  570  180  810  538  121  302  425 1329  788 1142   43  455
  452  599  203  583 1448  345  685 1608  967   22  123  125   82  334
 1027  972  991  516 1357  206  936 1311   97  567 2026  664  945   74
 2319 1367  814 1158   30 1218 1138  946 1322   92  482 1171  722  661
   96  877 1582 1111 1617 1049  911  187 1223  858 1670   82  572 1266
 1776   49 1015  658    9 1092  913  190  196 1345 2820  911 1765 2525
  940  476 2694 1577  690 1661  491  773  480 1069  979  518 1280 1064
  180 2793  660 1821  617 2148  661  328  373 1104 1130  211  302  180
   87  388  518 1320 1554 1017  487 2148  970  280  915   29 2364  412
 2371 1708  752  617  126 1425  463 1709 1695  387 2793 1217  367 1321
   63  408   57  428 1292  986  443  755  189  450  322  645  654 1463
  798  686 1889 1426   91 1484    1   96  477  192 1772 1227 1058 1681
 1225  574   77 2276  953  911   49 1943]
Previous Masked Input Idx are []

## Model

In [32]:
def mrr_k(pred, truth: int, k: int):
    indexing = np.where(pred[:k] == truth)[0]
    if len(indexing) > 0:
        return 1 / (indexing[0] + 1)
    else:
        return 0


def recall_k(pred, truth: int, k: int) -> int:
    answer = truth in pred[:k]
    return int(answer)

In [33]:
import numpy as np
import tensorflow as tf
from tensorflow.keras.layers import Input, Dense, Dropout, GRU
from tensorflow.keras.losses import categorical_crossentropy
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.utils import to_categorical
from tqdm import tqdm

In [34]:
def create_model(args):
    inputs = Input(batch_shape=(args.batch_size, 1, args.num_items))
    gru, _ = GRU(args.hsz, stateful=True, return_state=True, name='GRU')(inputs)
    dropout = Dropout(args.drop_rate)(gru)
    predictions = Dense(args.num_items, activation='softmax')(dropout)
    model = Model(inputs=inputs, outputs=[predictions])
    model.compile(loss=categorical_crossentropy, optimizer=Adam(args.lr), metrics=['accuracy'])
    model.summary()
    return model

In [54]:
class Args:
    def __init__(self, tr, val, test, batch_size, hsz, drop_rate, lr, epochs, k):
        self.tr = tr
        self.val = val
        self.test = test
        self.num_items = tr['ItemId'].nunique()
        self.num_sessions = tr['UserId'].nunique()
        self.batch_size = batch_size
        self.hsz = hsz
        self.drop_rate = drop_rate
        self.lr = lr
        self.epochs = epochs
        self.k = k

args = Args(tr, val, test, batch_size=128, hsz=50, drop_rate=0.1, lr=0.001, epochs=3, k=20)

In [55]:
model = create_model(args)

Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(128, 1, 3416)]          0
_________________________________________________________________
GRU (GRU)                    [(128, 50), (128, 50)]    520200
_________________________________________________________________
dropout_1 (Dropout)          (128, 50)                 0
_________________________________________________________________
dense_1 (Dense)              (128, 3416)               174216
=================================================================
Total params: 694,416
Trainable params: 694,416
Non-trainable params: 0
_________________________________________________________________

In [56]:
# train 셋으로 학습하면서 valid 셋으로 검증합니다.
def train_model(model, args):
    train_dataset = SessionDataset(args.tr)
    train_loader = SessionDataLoader(train_dataset, batch_size=args.batch_size)

    for epoch in range(1, args.epochs + 1):
        total_step = len(args.tr) - args.tr['UserId'].nunique()
        tr_loader = tqdm(train_loader, total=total_step // args.batch_size, desc='Train', mininterval=1)
        for feat, target, mask in tr_loader:
            reset_hidden_states(model, mask)  # 종료된 session은 hidden_state를 초기화합니다. 아래 메서드에서 확인해주세요.

            input_ohe = to_categorical(feat, num_classes=args.num_items)
            input_ohe = np.expand_dims(input_ohe, axis=1)
            target_ohe = to_categorical(target, num_classes=args.num_items)

            result = model.train_on_batch(input_ohe, target_ohe)
            tr_loader.set_postfix(train_loss=result[0], accuracy = result[1])

        val_recall, val_mrr = get_metrics(args.val, model, args, args.k)  # valid set에 대해 검증합니다.

        print(f"\t - Recall@{args.k} epoch {epoch}: {val_recall:3f}")
        print(f"\t - MRR@{args.k}    epoch {epoch}: {val_mrr:3f}\n")


def reset_hidden_states(model, mask):
    gru_layer = model.get_layer(name='GRU')  # model에서 gru layer를 가져옵니다.
    hidden_states = gru_layer.states[0].numpy()  # gru_layer의 parameter를 가져옵니다.
    for elt in mask:  # mask된 인덱스 즉, 종료된 세션의 인덱스를 돌면서
        hidden_states[elt, :] = 0  # parameter를 초기화 합니다.
    gru_layer.reset_states(states=hidden_states)


def get_metrics(data, model, args, k: int):  # valid셋과 test셋을 평가하는 코드입니다. 
                                             # train과 거의 같지만 mrr, recall을 구하는 라인이 있습니다.
    dataset = SessionDataset(data)
    loader = SessionDataLoader(dataset, batch_size=args.batch_size)
    recall_list, mrr_list = [], []

    total_step = len(data) - data['UserId'].nunique()
    for inputs, label, mask in tqdm(loader, total=total_step // args.batch_size, desc='Evaluation', mininterval=1):
        reset_hidden_states(model, mask)
        input_ohe = to_categorical(inputs, num_classes=args.num_items)
        input_ohe = np.expand_dims(input_ohe, axis=1)

        pred = model.predict(input_ohe, batch_size=args.batch_size)
        pred_arg = tf.argsort(pred, direction='DESCENDING')  # softmax 값이 큰 순서대로 sorting 합니다.

        length = len(inputs)
        recall_list.extend([recall_k(pred_arg[i], label[i], k) for i in range(length)])
        mrr_list.extend([mrr_k(pred_arg[i], label[i], k) for i in range(length)])

    recall, mrr = np.mean(recall_list), np.mean(mrr_list)
    return recall, mrr

In [57]:
train_model(model, args)

Train:  98%|█████████▊| 7429/7597 [01:44<00:02, 70.78it/s, accuracy=0.0156, train_loss=6.84]
Evaluation:  45%|████▍     | 41/92 [00:22<00:27,  1.84it/s]

	 - Recall@20 epoch 1: 0.076982
	 - MRR@20    epoch 1: 0.018841

Train:  98%|█████████▊| 7429/7597 [01:44<00:02, 71.34it/s, accuracy=0.0312, train_loss=6.6]
Evaluation:  45%|████▍     | 41/92 [00:21<00:27,  1.87it/s]

	 - Recall@20 epoch 2: 0.099657
	 - MRR@20    epoch 2: 0.024536

Train:  98%|█████████▊| 7429/7597 [01:43<00:02, 71.74it/s, accuracy=0.0312, train_loss=6.54]
Evaluation:  45%|████▍     | 41/92 [00:21<00:27,  1.88it/s]

	 - Recall@20 epoch 3: 0.107660
	 - MRR@20    epoch 3: 0.025568

In [58]:
def test_model(model, args, test):
    test_recall, test_mrr = get_metrics(test, model, args, 20)
    print(f"\t - Recall@{args.k}: {test_recall:3f}")
    print(f"\t - MRR@{args.k}: {test_mrr:3f}\n")

test_model(model, args, test)

Evaluation:  36%|███▋      | 24/66 [00:12<00:22,  1.88it/s]

	 - Recall@20: 0.122396
	 - MRR@20: 0.028744